@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Improve readability with max-width on paragraphs and lists */
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
}

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images/video easier to work with */
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5rem;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

.couple-role {
  display: none;
}

.couple-card:hover {
  opacity: .85;
  scale: .95;
  animation: scale 1s ease-in-out;
}

.couple-card:hover img {
  opacity: .5;
  animation: opacity 1s ease-in-out;
}

.couple-card:hover .couple-role {
  display: inline;
}